flask
flask_restful
flasgger
flask_sqlalchemy
pymysql
marshmallow
pika==0.10.0
dill
flask-pika
scikit-learn[alldeps]
psycopg2
gevent
gunicorn
flask_socketio
pandas
numpy
requests
traceback
sklearn
keras
requests
datetime
math
re
scipy
json
PIL
imagehash
matplotlib
seaborn
itertools
dateutil
Tensorflow
umap
